.navbar.square{
    margin-bottom: 0px;
    height: 40px;
    border-radius: 0px;
    border: 0px;
    background-color: #36648B;
}

li ul{
    display: none;
}

li:hover ul{
    display: block;
}

li ul li{
    float: none;
    margin-left: -40px;
}

.read-do{
    border: none;
    width: 100%;
    height: 50px;
    background-color: #36648B;
    font-size: 30px;
    padding-top: 0;
    color: #0f0f0f;
}
.read-do:hover{
    background-color: white;
}
.read-do:visited{
    background-color: #36648B;
}

#side{
    width: 20%;
    height: 100%;
    float: left;
}

#center{
    width: 78%;
    height: 100%;
    margin-left: 15px;
    float: left;
}