body {
    margin: 0px;
}

#head {
    height: 30px;
    margin-top: 0px;
}

#head div {
    margin-top: 5px;
}

#main {
    border-radius: 10px;
}

.main-left {
    border: 1px solid;
    border-radius: 10px;
}

.search {
    margin: 0;
    border-bottom: 3px solid papayawhip;
    display: inline-block;
}

.search input {
    border: 0;
    outline: medium;
}

.search button {
    border: 0;
}

.button-write {
    font-size: 20px;
    border: 0;
    background-color: white;
    color: #BF360C;
    height: 40px;
    border-radius: 10px
}

.button-write:hover {
    background-color: #ce8483;
}

.button-write:visited {
    background-color: white;
    outline: medium;
}

.work {
    border: 1px solid;
    margin-top: 5px;
    border-radius: 10px;
    color: black;
    height: 135px;
}